* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  font-size: 18px;
  font-weight: 300;
}
::placeholder {
  background-color: transparent;
}
#root {
  background-color: #f8f2ea;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

/* style ids */
#subheading {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: gray;
}
#hero_header {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

/* style classes */
.purple_header {
  color: #7b79ac;
}
.purple_subheader {
  color: #434069;
}
.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.Construction_sign {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 1rem;
  padding: 10%;
}
.hero {
  height: 100vh;
  background-color: #f8f2ea;
  display: flex;
  gap: 2rem;
  flex-direction: row;
}
.hero_text_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  gap: 1.5rem;
}
.hero img {
  max-width: 45%;
  height: 100%;
  object-fit: cover;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5%;
  gap: 2rem;
  list-style: none;
  color: black;
}
.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 1rem;
  border-radius: 0px 0px 10px 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-radius 0.3s ease;
}
.navigation-bar.scrolled {
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
  transition: border-radius 0.3s ease;
}
.about-me {
  margin: 5% 0 5%;
  padding: 0% 5% 0%;
  height: 80vh;
  background-color: #f8f2ea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 2rem; */
}
.about-me-image {
  flex: 1;
  height: 100%;
  max-width: 45%;
}
.about-me img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about-me-text {
  flex: 1;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.projects {
  padding: 5% 5% 5%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#projects_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35vh 35vh;
  gap: 0.5rem;
}
.project_card {
  position: relative;
  background-color: #83ab79;
  color: #fafafa;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease; */
}
.project_card_tall {
  grid-row: span 2;
}
.project_card_wide {
  grid-column: span 2;
}
.card_text {
  position: relative;
  z-index: 2;
  display: none;
}
.project_card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 0;
}
.project_card:hover::before {
  opacity: 0.1;
}
.project_card:hover {
  transition: background-color 0.3s ease;
}
.project_card:hover .card_text {
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#aws_card::before {
  background-image: url("assets/AWS.jpg");
}
#todo_card::before {
  background-image: url("assets/todo_list.png");
}
#schedule-inator_card::before {
  background-image: url("assets/schedule-inator.png");
}
#joke_api_card::before {
  background-image: url("assets/jokegithub.png");
}
.contact-me {
  padding: 5% 5% 5%;
  background-color: #f8f2ea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.contact-me-text {
  flex: 1;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.contact-form {
  flex: 1;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80vh;
  padding: 4% 2% 4%;
  background-color: #ffffff;
  border-radius: 20px;
}
.input_bar {
  width: 100%;
  height: fit-content;
  background-color: #f5f5f5;
  border-radius: 22px;
  padding: 1rem;
}
.input_bar.long {
  height: 100%;
}
.submit-button {
  background-color: #1C1B23;
  color: white;
  border: 2px solid #1C1B23;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.submit-button:hover {
  color: #1C1B23;
  border: 2px solid #1C1B23;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  /* style ids */
  #subheading {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  /* style classes */
  .Construction_sign {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    padding: 10%;
  }
}
