*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
h1{
  font-size: 4rem;
}
#subheading{
  font-size: 1.5rem;
  margin-top: 1rem;
  color: gray;
}
.Construction_sign{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 1rem;
  padding: 10%;
}

@media screen and (max-width: 768px) {
  .Construction_sign{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
  padding: 10%;
}
  h1{
    font-size: 2.5rem;
  }
  #subheading{
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}